__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/
pip-log.txt
pip-delete-this-directory.txt

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Logs and cache
*.log
.cache*
.tox/
.coverage
nosetests.xml
pytest_cache/

# Editor & OS files
.env
test*
.vscode/
.idea/
cookies/
gallery-dl/
downloads/
.DS_Store
Thumbs.db
t2.py
rf.py
pixiv2.py
pixiv3.py